.flexbox{
    background-color: brown;
    font-size: 35px;
    display: flex;
  /*  flex-wrap: wrap;
    flex-direction: column; */
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
}
.flexbox > div{
    background-color: green;
    margin: 5px;
    padding: 5px;
    width: 100px;
}