.flexbox{
    background-color: aqua;
    font-size: 40px;
    display: flex;
  /*  flex-wrap: wrap;
    flex-direction: column;*/
    flex-flow: wrap row;
    justify-content: center;
    height: 400px;
    align-items: baseline;

}

.flexbox > div{
    background-color: chartreuse;
    margin: 5px;
    padding: 5px;
    width: 100px;
}